@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");


:root {
  --primary: #DAA520;
  --secondary: #CD5C5C;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
  color: inherit  ;
  }
    a:hover {
      text-decoration: none;
        color: inherit;
        text-decoration: none;  
     }
      * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
      }
      
      html {
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
      
      body {
        font-family: "Cairo", sans-serif;
        font-weight: 700;
        /* overflow-x: hidden !important; */
        /* height: 100Vh; */
      }

      ul li a{
        text-decoration: none;
        color: inherit;
      }

      #hom-line {
        display: block;
        height: 4px;
        background-color: var(--primary);
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: auto;
        margin-right: auto;
        border-style: none;
        width: 80%;
      }

      #hom-line2{
        display: block;
        height: 4px;
        background-color: var(--primary);
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: auto;
        margin-right: auto;
        border-style: none;
        width: 100%;
      }



      /* start scroll behaviour */
      ::-webkit-scrollbar{
        width: 12px;
    }
    
    ::-webkit-scrollbar-thumb{
        background:linear-gradient(transparent,var(--primary));
        border-radius: 8px;
    }
      /* end scroll behaviour */

      /* start preloader */
.loader_bg{
  position: fixed;
  z-index: 999999;
  background: var(--primary);
  width: 100%;
  height: 100%;

}

.loader{
  border:  0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
} 

.loader:before, .loader:after{
  content: '';
  border: 1em solid white;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before{
  animation-delay: .5s;
}

@keyframes loader {
  0%{
      transform: scale(0);
      opacity: 0;
  }

  50%{
      opacity: 1;
  }

  100%{
      transform: scale(1);
      opacity: 0;
  }
}
/* end preloder */



/* start top button */
.scroll-to-top{
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: white;
  background:var(--secondary);  
  border: none;  
  transition-duration: 500ms;
}

.scroll-to-top:hover{
  background: black;
}

@media (max-width:768px) {
  .scroll-to-top{
      right: 20px;
      bottom: 60px;
      width: 40px;
      height: 40px;
  }
}
/* end top button */


/* start navbar canavs */
@media (min-width:768px) {
  .navbar-nav{
      margin-right: 300px;
  }
}

@media (min-width:768px) {
  .fa-bars{
      display: none;
  }
}

.fa-bars{
 color: white !important;
}
.navbar{
  background-color: var(--primary) !important;
}


@media (min-width:768px) {
  .navbar-expand-sm .navbar-nav .nav-link{
      color: white !important;
  }
}

@media (max-width:768px) {
  .navbar-expand-sm .navbar-nav .nav-link{
      color:black !important;
  }
  
  .navbar .logo-navbar{
      height: 50px;
      width: 50px;
  }
}

.offcanvas {
  width: 70% !important;
}

.nav-item .nav-link{
  color: white !important;
  line-height: 30px;
  font-weight: 500;
  font-size: 18px;
}

.nav-item .nav-link:hover{
  color: black !important;
  border-bottom: 1px solid black;
  line-height: 30px;
  font-weight: 500;
  font-size: 18px;
  transition: .6s all ease-in-out;
}

/*---------- dropdown------------ */
.dropbtn {
  color: white !important;
  padding: 10px;
  font-size: 16px;
  border: none;
  font-weight: 500;
}

@media (max-width:768px) {
  .dropbtn {
    color: black !important;
    /* padding: 4px; */
    margin:0px -10px 0px 30px !important;
    font-size: 16px;
    border: none;
    font-weight: 500;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary);
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  white-space: nowrap;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:wheat;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
/*-------------- drop down------------ */
/* end navbar canvas */


/* start slider */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
}
/* end slider */




/* start for section1 */

  .section1{
    /* margin-top: 170px; */
  }

  .section1 h1{
    color: var(--primary);
    font-size: 30px;
    font-weight: 700;
  }

  .section1 h2{
    margin-top: 20px;
    color: var(--secondary);
    font-size: 28px;
    font-weight: 700;
  }

  .section1 img{
    margin-top: 45px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    padding: 10px;
  }

  .section1 .row{
    margin-top: 15px;
  }

  .section1 .row p{
    font-size: 19px;
  }

  .section1 .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    /* padding: 35px; */
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
    
  }
  
  .section1 .button {
    font-size: 30px;
    color: #fff;
    background-color: var(--primary);
    border: 1px solid black;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    padding: 20px ;
    display: block;
    margin-top: 30px;
    border: none;
  }
  .section1 .button:hover {
    background: var(--secondary);
  }
  
  .section1 .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .section1  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .section1 .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 2s ease-in-out;
  }
  
  .section1 .popup h4 {
    margin-top: 40px !important;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .section1 .popup .close {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .section1 .popup .close:hover {
    color: var(--primary  );
  }
  .section1 .popup .content {
    max-height: 50%;
    overflow: auto;
  }
  
  @media screen and (max-width: 768px){
    .section1  .box{
      width: 70%;
    }
    .section1  .popup{
      width: 80%;
    }
    .section1 .button {
      font-size: 19px;
      color: #fff;
      background-color: var(--primary);
      border: 1px solid black;
      border-radius: 20px/50px !important;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease-out;
      padding: 20px ;
      display: block;
      margin-top: 10px;
      width: 100%;
    }
  }
/* end for section1 */

/* start section2 */
.section2{
  margin-top: 50px;
}

.section2 h3{
  font-size: 28px;
  font-weight: 700;
  color: var(--primary);
  line-height: 34px;
  margin-top: 40px;
}

.section2 h2{
  margin-top: 13px;
  color: var(--secondary);
}

.section2 p{
  font-size: 16px;
  color: #686368;
  margin-top: 15px;
}
/* End section2 */

/* start section3 */
.section3{
margin-top: 20px;
}

.section3 h2{
  font-size: 18px;
  color: rgb(102, 102, 102);
}
/* end section3 */


/* Start section4 */
.section4 h3{
  font-size: 26px;
  font-weight: 700;
  color: var(--primary);
  margin-top: 25px;
}

/* End section4 */


/* start footer */
.footer{
  margin-top: 100px;
  background-color: var(--primary);
}

.footer .footer-heading{
font-size: 18px;
font-weight: #ffffff;
font-weight: 700;
line-height: 24px;
margin-top: 25px; 
padding: 10px; 
}

.footer p{
  font-size: 15px;
}

.footer ul li a{
font-size: 15px;
}

.footer ul li a:hover{
  color: #fff;
}

.footer .icons ul li{
  display: inline-block;
  padding: 7px;
}
/* end footer */


/*start page 3an aman lek */
  .section1 .container{
    max-width: 1050px;
  }

  .section1 .p1{
font-size: 20px;
color: #666666;
  }

  .section1 .main{
    color: var(--secondary);
    font-size: 19px;
  }

  .section1 ul li{
    margin-right: 60px;
    margin-top: 40px;
    font-size: 16px;
    color: #666666;
  }

  .section1 .p2{
    margin-right: 60px;
    font-size: 16px;
    color: #666666;
  }

  .sectio1 .ahmed{
    margin-top: 50px;
  }

  .section1 .p3{
    font-size: 16px;
    color: #666666;
  }
/* end page 3m aman lek */

/*start page question bardesy */


.q li{
  text-decoration: none;
  color: var(--secondary);

  font-weight: bold;
  font-size:1.2rem;
  list-style-type: square;
  
}
.q p{
  color: #666666;
  font-size:.8rem;
}
.h{
  color: var(--primary);
}
/*end page question bardesy */
/*start page  SHROT bardesy */
.SHROT h4{
  font-size:1.2rem;
  color:var(--primary);
}
.SHROT li{
  text-decoration: none;
  color: #686368;
  margin: 10px;
  
  font-weight: bold;
  font-size:1rem;
  
}

.SHROT ul ul li{
  margin: 5px;
  font-size:.8rem;
  list-style-type: none;
  color:#666666 !important;

}

/*end page 4ROT bardesy */
/*start page  seasah bardesy */
.seasah li{
  text-decoration: none;
  color: var(--secondary);

  font-weight: bold;
  font-size:1.2rem;
  
  list-style-type: none;
  padding:7px;
  
}

.seasah ul ul li{
  font-size:16px;
  list-style-type: none;
  color:#666666 !important;

}

/*end page seasah bardesy */
/*start page insurance bardesy */
.insurance h4{
  color:var(--primary);
  font-size: 1rem;

}
.insurance p{
  color:#666;
  font-size: .8rem;

}


/*end page insurance bardesy */


/* start page contact us bardesy */

.container .image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: -100px;
}

@media (max-width:768px) {
  .container .image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: -50px;
  }
}


.form-contact p{
 font-size: 19px;
 font-weight: 700;
 line-height: 30px;
 color: var(--secondary); 
}

input[type=text],input[type=tel],input[type=email], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}


input[type=submit] {
  background-color: var(--primary);
  color: white;
  display: block;
  width: 100%;
  padding: 12px 20px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: var(--secondary);
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.info{
  background-color: #f5eded;
  max-height: 200px;
  margin-top: 29px;
}

.info p{
  font-size: 16px;
  font-weight: 700;
  color: #666666;
}

.info .span1{
  color: #515cdd;
}

.info .span2{
  font-weight: 400;
}

@media (max-width:768px) {
  .info{
    margin-top: 40px;
  }
}
/* end page contact us bardesy */

/* start t2men cars */
@media (max-width:768px) {
  .t2men-cars .container img{
    max-width: 100%;
  }
}

.t2men-cars .container .para11{
  color: var(--primary);
  font-size: 22px;
  font-weight: 700;
  margin-top: 30px;
}

.t2men-cars .container .special-lists li{
font-size: 20px;
font-weight: 400;
}

@media (max-width:768px){
  .t2men-cars .container .special-lists li{
    font-size: 17px;
    font-weight: 100;
    padding: 10px;
    }

    .box{
      margin-top: -50px !important;
    }
}

.t2men-cars .container .para12{
  font-size: 20px;
  font-weight: 700;
  color: #222222;
}

.t2men-cars ul{
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.t2men-cars li{
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

/* end t2men cars */

/* start t2men 7yah */
.t2men-7yah{
  /* margin-top: 40px; */
}

.t2men-7yah h1{
  font-size: 30px;
  font-weight: 700;
  color: #666666;
}
/* end t2men 7yah */

/* start t2men mmtlkat */

.t2men-mmtlkat{
  /* margin-top: 40px; */
}

.t2men-mmtlkat h1{
  font-size: 30px;
  font-weight: 700;
  color: #666666;
}
/* end t2men mmtlkat */

/* start t2men safr */
.t2men-safr h3{
  font-size: 22px;
  font-weight: 700;
  color: var(--secondary);
}

.t2men-safr h4{
  font-size: 16px;
  line-height: 34px;
  color: #222222;
  font-weight: 700;
}

.t2men-safr h5{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #666666;
}

.t2men-safr h2{
font-size: 26px;
line-height: 32px;
color: #222222;
font-weight: 700;
}

.t2men-safr ul li{
  font-size: 16px;
  color: #666666;
  font-weight: 700;
  padding: 15px;
}

/* end t2men safr */

/* start t2men teby */

.t2men-teby .first{
  font-size: 28px;
  line-height: 34px;
  color: var(--secondary);
  font-weight: 700;

} 

.t2men-teby .second{
  font-size: 18px;
  line-height: 24px;
  color: #7c7c7c;
  font-weight: 500;
  margin-top: 13px;
}

.t2men-teby button{
 background-color: var(--primary);
 padding: 20px 34px;
 box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.1);
 border-radius: 20px;
 border: none;
 color: white;
 font-size: 22px;
 font-weight: 700;
 line-height: 24px;
}

.t2men-teby a{
  text-decoration-line:underline;
  color: rgb(56, 56, 192);
}


.t2men-teby .box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.t2men-teby .button {
  font-size: 30px;
  color: #fff;
  background-color: var(--primary);
  border: 1px solid black;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  padding: 20px ;
  display: block;
  margin-top: 30px;
  border: none;
}
.t2men-teby .button:hover {
  background: var(--secondary);
}

.t2men-teby .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.t2men-teby  .overlay:target {
  visibility: visible;
  opacity: 1;
}

.t2men-teby .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 2s ease-in-out;
}

.t2men-teby .popup h4 {
  margin-top: 40px !important;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.t2men-teby .popup .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.t2men-teby .popup .close:hover {
  color: var(--primary  );
}
.t2men-teby .popup .content {
  max-height: 50%;
  overflow: auto;
}

@media screen and (max-width: 768px){
  .t2men-teby  .box{
    width: 70%;
  }
  .t2men-teby  .popup{
    width: 80%;
  }
  .t2men-teby .button {
    font-size: 19px;
    color: #fff;
    background-color: var(--primary);
    border-radius: 20px/50px !important;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    padding: 15px ;
    display: block;
    margin-top: 15px 45px;
    width: 100%;
    margin-top: 50px;
    border: none;
  }
}


/* part two */
.part-two h2{
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  color: var(--primary);
}

.part-two h3{
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  color: #222222;
}

.part-two p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #666666;
}

.part-two span{
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: #222222;
}

.part-two li {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  padding: 10px;
  margin-top: 5px;
}

.part-two h4{
  font-size: 23px;
  font-weight: 700;
  color: var(--primary);
  line-height: 34px;
  margin-top: 25px;
}

.part-two th{
  font-size: 16px;
  color: #666666;
  font-weight: 700;
}

.part-two td{
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.part-two h5{
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  color: var(--primary);
  line-height: 28px;
}

.part-two h6{
  font-size: 18px;
  font-weight: 700;
  color: var(--primary);
  line-height: 28px;
}

@media (min-width:768px) {
  .table{
    width: 100%;
  }
}
/* end t2men teby */

/* start offers person */
.offer-person .box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.offer-person .button {
  font-size: 30px;
  color: #fff;
  background-color: var(--primary);
  border: 1px solid black;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  padding: 20px ;
  display: block;
  margin-top: 30px;
  border: none;
}
.offer-person .button:hover {
  background: var(--secondary);
}

.offer-person .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.offer-person .overlay:target {
  visibility: visible;
  opacity: 1;
}

.offer-person .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 2s ease-in-out;
}

.offer-person .popup h4 {
  margin-top: 40px !important;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.offer-person .popup .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.offer-person .popup .close:hover {
  color: var(--primary  );
}
.offer-person .popup .content {
  max-height: 50%;
  overflow: auto;
}

.offer-person .btn{
background-color: var(--primary);
margin-bottom: 20px;
color: white;
font-weight: bold;
}

.offer-person h2{
  font-weight: bold;
  color: var(--primary);
}

.offer-person .p1{
  color: var(--secondary);
  font-size: 21px;
}

label{
  color: #666666;
}

input{
  border: 1px solid var(--primary);
  padding: 10px;
  margin: 5px;
}

@media screen and (max-width: 768px){
  .offer-person  .box{
    width: 70%;
  }
  .offer-person .popup{
    width: 80%;
  }
  .offer-person .button {
    font-size: 19px;
    color: #fff;
    background-color: var(--primary);
    border-radius: 20px/50px !important;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    padding: 15px ;
    display: block;
    margin-top: 15px 45px;
    width: 100%;
    margin-top: 50px;
    border: none;
  }
}
/* end offers person */

/* start offer company */
.media-object{
  border-radius: 50% !important;
  border:1px solid var(--primary);
}

.offer-company h1{
  color: var(--primary);
  font-weight: 600;
  line-height: 30px;
}

.offer-company h4{
  /* background-color: var(--primary); */
  padding: 10px;
}
/* end offer company */








