<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta property="og:title" content="Taamenk | Home"/>
<meta name="Description" content="puplic insurances,cars insurances,travel insurances,medical insurances,property insurance,life insurance,taamenk.com"/>
<meta name="Description" content="puplic insurances,cars insurances,travel insurances,medical insurances,property insurance,life insurance,taamenk.com"/>
<meta name="Description" content="taamenk.com for insurance"/>
<meta property="og:site_name" content="taamenk.com"/>
<link rel="icon" href="images/life.png" type="image/x-icon"/>
<meta property="og:image" content="images/life.png"/>
<meta name="robots" content="index,follow"/>
<meta name="Classification" content="Business">
<meta name="category" content="insurance">
<meta name="coverage" content="Worldwide">
<meta name="revisit-after" content="5 days">
<meta property="og:type" content="Service"/>
<meta name="og:postal-code" content="12573"/>
<meta name="og:country-name" content="Egypt"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link
rel="stylesheet"
href="https://unpkg.com/swiper/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="./css/main.css">
<title>Taamenk | Home</title>
</head>
<body>

  <!-- start preloader -->
  <div class="loader_bg">
    <div class="loader"></div>
  </div>
<!-- end preloader  -->

<!-- to top -->
<button class="scroll-to-top"><i class="fa fa-chevron-up"></i></button>
<!-- end to top -->

 <!-- start upperbar -->
 <div class="upperbar d-none d-sm-block border-bottom">
  <div class="container-fluid">
      <div class="row">
          <div class="col">
              <a style="display: flex; width: 100%;"><i class="fas fa-map-marker-alt m-2"></i> <span>9870 St Vincent Place</span></a>
          </div>
          <div class="col">
              <a style="display: flex; width: 100%;" href="tel:+201012370014"><i class="fas fa-phone-alt m-2"></i> <span>+200111111110</span></a>
          </div>
          <div class="col">
              <a style="display: flex; width: 100%;" href=""><i class="far fa-envelope m-2"></i><span>taamenk.com</span></a>
          </div>
          <div class="col" style="white-space: nowrap;">
              <a style="display: flex; width: 100%;"><i class="far fa-clock m-2"></i><span>الاحد - الخميس: 9.00م - 11.0ص</span></a>
          </div>
          <div class="col social-icon">
              <a href=""><i class="fab fa-facebook"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-whatsapp"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-telegram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
      </div>
  </div>
</div>
<!-- end upper bar -->


    <!-- start header -->
    <nav class="navbar navbar-expand-sm shadow-sm bg-white rounded sticky-top">
      <div class="container">
          <i class="fas fa-bars  fa-2x mt-3 mr-3" data-bs-toggle="offcanvas" data-bs-target="#demo"></i>
          <a href="/"> <img class="logo-navbar" src="./images/corp_group.png" width="60" height="60" alt="image logo" loading="lazy"> </a>
          <div class="offcanvas offcanvas-end" id="demo">
              <div class="offcanvas-header">
                  <h1 class="offcanvas-title"><a href="/"> <img src="./images/corp_group.png" width="80" height="80" alt="image menu" loading="lazy"></a></h1>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
              </div>
              <div class="offcanvas-body col justify-content-md-between">
                  <ul class="navbar-nav">
                      <li class="nav-item ">
                          <a class="nav-link" href="./home">الرئيسية</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="./WhoUs">من نحن</a>
                      </li>
                      <!-- <li class="nav-item">
                          <a class="nav-link" href="./blog.html">Blog</a>
                      </li> -->
                      <div class="dropdown">
                        <a href="./anwa3t2men"><p class="dropbtn" style="color:var(--primary);">انواع التأمين</p></a>
                        <div class="dropdown-content">
                          <a href="/carInsurance">تأمين السيارات</a>
                          <a href="/medicalInsurance">تأمين طبي</a>
                          <a href="/travelInsurance">تأمين السفر</a>
                          <a href="/propertyInsurance">تأمين الممتلكات</a>
                          <a href="/lifeInsurance">تأمين الحياة</a>
                        </div>
                      </div>
                      <!-- <li class="nav-item">
                          <a class="nav-link" href="./questions.html">الاسئله الشائعة </a>
                      </li> -->
                      <li class="nav-item">
                          <a class="nav-link" href="/contactus">اتصل بنا</a>
                      </li>
                  </ul>
                  <!-- <button class="btn mt-3 mt-md-0">Appointment</button> -->
              </div>
          </div>
      </div>
  </nav>
  <!--end header  -->

    <!-- start slider -->
    <div class="slider">
      <div class="container">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="./images/KIC_MASCOTS_EN.jpg" class="d-block w-100 img-fluid" alt="image slider" loading="lazy"></div>
            <div class="swiper-slide"><img src="./images/KICAwardBannerE02.jpg" class="d-block w-100 img-fluid" alt="image slider" loading="lazy"></div>
          </div>
        </div>
      </div>
    </div>
  <!-- end slider -->

    <!-- start section 1 -->
    <div class="section1 text-center">
        <div class="container">
            <h1>
                <strong>
                    <span>أفضل عروض شركات التأمين في مكان واحد</span>
                </strong>
            </h1>
            <h2>
                <strong>
                    <span>إختار نوع التأمين اللي انت محتاجه</span>
                </strong>
            </h2>
            <div class="row">
                <div class="col">
                  <a href="/carInsurance">
                    <img src="./images/indv_motor.png"width="170" height="170" alt="image cars" loading="lazy">
                    <p>تأمين السيارات</p>
                  </a>
                </div>
                <div class="col">
                  <a href="/medicalInsurance">
                    <img src="./images/corp_group.png" width="170" height="170" alt="image teby" loading="lazy">
                    <p>تأمين طبي</p>
                  </a>
                </div>
                <div class="col">
                  <a href="/travelInsurance">
                    <img src="./images/indv_travelindv.png" width="170" height="170" alt="image safr" loading="lazy">
                    <p>تأمين السفر</p>
                  </a>
                </div>
                <div class="col">
                  <a href="/propertyInsurance">
                    <img src="./images/househld.png" width="170" height="170" alt="image mmtlkat" loading="lazy">
                    <p>تأمين الممتلكات</p>
                  </a>
                </div>
                <div  class="col">
                  <a href="/lifeInsurance">
                    <img src="./images/indv_life.png" width="170" height="170" alt="image 7yah" loading="lazy">
                    <p>تأمين الحياة</p>
                  </a>
                </div>
            </div>

          <!-- modal for button section1 -->
          <div class="box">
            <a class="button mt-5" href="#popup1" style="white-space: nowrap;">خدمة العملاء   </a>
          </div>
        <div id="popup1" class="overlay">
            <div class="popup">
                <h4>سجل بياناتك وهنتواصل معاك في أسرع وقت</h4>
                <a class="close" href="#close">&times;</a>
                <div class="content">
                  <form action="http://localhost:3000/api/v1/users" method="post" >
                    <label for="fname" class="mt-3">الاسم</label><br>
                        <input type="text" id="name2" name="name" placeholder="اسمك.." required>
                        <label for="lname">رقم الهاتف</label><br>
                        <input type="phone" id="phone2" name="phone" placeholder="رقم موبايل" required>
                        <select id="country" class="d-none" style="width:90%;border:1px solid var(--primary)" name="type" required>
                          <option  value="customer service">نوع التأمين</option>
                        </select>
                        <button type="submit" class="mx-auto d-block">ارسال</button>
                      </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- end section 1 -->

    <!-- start section2 -->
    <!-- <div class="section2 text-center">
      <div class="container">
        <hr id="hom-line">
        <h3>
          <span>
            <strong>وفر وقتك ومجهودك</strong>
          </span>
        </h3>
        <h2>
          <span>
            <strong>وإختار التأمين بكل سهوله</strong>
          </span>
        </h2>
        <p>
          <span>
            <strong>تأمينك هو أفضل مكان للحصول على تفاصيل وأسعار البرامج التأمينية في مصر بكل أنواعها
              <br>
              دلوقتي تقدر تقارن وتشتري التأمين أونلاين بكل سهولة وشفافية
            </strong>
          </span>
        </p>
        <hr id="hom-line">
      </div>
    </div> -->
    <!-- End section2 -->

    <!-- start section3 -->
    <!-- <div class="section3 text-center">
      <div class="container">
      <div class="row">
        <div class="col">
          <a href="./insurance-products.html">
          <img src="./images/save-money.png" width="170" height="170" alt="">
          <p>
            <strong>
              <h2>"تأمينك" هيساعدك تختار برنامج التأمين الأنسب ليك اونلاين</h2>
            </strong>
          </p>
        </a>
        </div>
        <div class="col">
          <a href="./insurance-products.html">
          <img src="./images/save-money.png" width="170" height="170" alt="">
          <p>
            <strong>
              <h2>"هتبقى متطمن لأنك هتوصل بسهوله لمسئول حسابك على تليفونه الشخصي</h2>
            </strong>
          </p>
        </a>
        </div>
        <div class="col">
          <a href="./insurance-products.html">
          <img src="./images/save-money.png" width="170" height="170" alt="">
          <p>
            <strong>
              <h2>""تأمينك" بيوضحلك الاسعار بكل شفافيه ومابياخدش منك أى مصاريف أو عمولات</h2>
            </strong>
          </p>
        </a>
        </div>
        <div class="col">
          <a href="./insurance-products.html">
          <img src="./images/save-money.png" width="170" height="170" alt="">
          <p>
            <strong>
              <h2>"معانا هتبقى اشتريت راحة بالك بأقل مجهود وأحسن سعر</h2>
            </strong>
          </p>
        </a>
        </div>
      </div>
      <hr id="hom-line2">
    </div>
    </div> -->
    <!-- End section3 -->
<!-- <hr id="hom-line"> -->
    <!-- start section4 -->
    <div class="section4 text-center">
      <div class="container">
          <p>
            <strong>
              <h3>عن تأمينك</h3>
            </strong>
          </p>
        </div>
    </div>
    <!-- end section4 -->

    <div class="section1">
      <div class="container">
          <p class="p1">
            <mark style="color: var(--secondary);">من نحن    </mark> سيط تاميني  في التأمين فى مصر, هدفنا فى تامينك هو تبسيط عملية شراء و إدارة التأمين للأفراد و الشركات. تامينك هيساعدك تختار التأمين المناسب لإحتياجاتك وهيفضل معاك في كل خطوه بعد ما تختار تأمينك, عن طريق توفير مسؤول خدمة عملاء .
          </p>
          <ul>
              <li class="main">الروئية</li>
              <p class="p2">ناس كتير بتشوف التأمين معقد و مش مفهوم و احنا فى تامينك هدفنا نغير الانطباع ده و نخلى التأمين أبسط و اسهل.</p>
              <li class="main"> الاهداف </li>
              <p class="p2">فى "تامينك" الأولوية دايماً لعملأنا و حرصنا الداىْم هو تقديم افضل تجربة لشراء التأمين فى مصر  وخدمة التعويضات</p>
              <li class="main"> الرساله </li>
              <p class="p2">التطوير المستمر فى خدمات التأمين و تقديم حلول الكترونية للتسهيل على العملاء</p>
              <li class="main">	فريق العمل </li>
              <p class="p2">فريق عمل من الشباب مواكب لأحدث أساليب خدمة العملاء لتغيير مفهوم التأمين وتقديم مستوى خدمة غير مسبوق</p>
          </ul>

          
          <p class="p3" style="margin-top: 50px;">إصدار وثائق التأمين: الوثائق التأمينية مقدمة من شركات التأمين عن طريق الوسيط  التأميني, ا/ مينا داود نجيب جيد
            مسجل في الهيئة العامة للرقابة المالية برقم: 36695, بريد إلكتروني:             
          </p>

          <p class="p3">    صرف التعويض: عشان تصرف التعويض عن الحادث كل اللي عليك انك تتصل بممثل خدمة عملاء "تامينك"       </p class="p3">
      </div>
  </div>

    
<div class="section1">
  <div class="container">
    <div class="box">
      <a class="button" href="#popup2"> الابلاغ عن حادث  </a> 
  </div>
  <div id="popup2" class="overlay">
    <div class="popup">
        <h4 class="text-center">سجل بياناتك وهنتواصل معاك في أسرع وقت</h4>
        <a class="close" href="#please-close">&times;</a>
        <div class="content text-center">
          <form action="http://localhost:3000/api/v1/users" method="post" >
            <label for="fname" class="mt-3">الاسم</label><br>
                <input type="text" id="name3" name="name" placeholder="اسمك.." required>
                <label for="lname">رقم الهاتف</label><br>
                <input type="phone" id="phone3" name="phone" placeholder="رقم موبايل" required>
                <select id="country" class="d-none" style="width:90%;border:1px solid var(--primary)" name="type" required>
                  <option  value="Report an accident">نوع التأمين</option>
                </select>
                <button type="submit" class="mx-auto d-block">ارسال</button>
              </form>
        </div>
    </div>
</div>
  </div>
</div>

  <!-- start footer -->
  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2 class="footer-heading border-bottom w-25 mb-3">اتصل بنا</h2>  
                 <p >تليفون:  <a href="tel:01222207744" > 648 235 257 010 2+</a></p>
                 <p> الإيميل: <a href="#"> info@taamenk.com</a></p>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 ml-auto">
                        <h2 class="footer-heading border-bottom w-25  mb-2">الشركة</h2>
                        <ul class="list-unstyled">
                          <li><a href="/whoUs">من نحن</a></li>
                          <li><a href="/termsAndCondition">الشروط و الاحكام</a></li>
                            <li><a href="/privacyPolicy">سياسة الخصوصية</a></li>
                            <li><a href="/insurancecompany">شركات التأمين</a></li>
                            <li><a href="/jobVacancies">وظائف - لدينا فرص عمل !</a></li>
                        </ul>
                    </div>
                    <div class="icons col-lg-6">
                        <h2 class="footer-heading border-bottom w-50 mb-2 ">تابع تأمينك</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-top ">
              <p class="mt-3">في حالة عدم رضائك عن خدمة تأمينك يحق لك تصعيد الشكوى الى مقر الهيئة العامة للرقابة المالية أو عبر موقعها الإلكتروني www.fra.gov.eg
                موقع تأمينك حاصل على موافقة الهيئة العامة للرقابة المالية بتاريخ 5/11/2019</p>
                <p class="text-center mt-2">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved taamenk  
                </p>
               <p class="text-center"><span> powered by <a href="#" target="_blank">T2menk</a> </span></p>
            </div>
        </div>
    </div>
    </footer>
    <!-- End footer -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./js/main.js"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-61557304f9644901"></script>
    </body>
    </html>