<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta property="og:title" content="Taamenk | Home"/>
<meta name="Description" content="puplic insurances,cars insurances,travel insurances,medical insurances,property insurance,life insurance,taamenk.com"/>
<meta name="Description" content="puplic insurances,cars insurances,travel insurances,medical insurances,property insurance,life insurance,taamenk.com"/>
<meta name="Description" content="taamenk.com for insurance"/>
<meta property="og:site_name" content="taamenk.com"/>
<link rel="icon" href="images/life.png" type="image/x-icon"/>
<meta property="og:image" content="images/life.png"/>
<meta name="robots" content="index,follow"/>
<meta name="Classification" content="Business">
<meta name="category" content="insurance">
<meta name="coverage" content="Worldwide">
<meta name="revisit-after" content="5 days">
<meta property="og:type" content="Service"/>
<meta name="og:postal-code" content="12573"/>
<meta name="og:country-name" content="Egypt"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="./css/main.css">
<title>taamenk</title>
</head>
<body>



    <!-- start preloader -->
    <div class="loader_bg">
      <div class="loader"></div>
    </div>
  <!-- end preloader  -->

  <!-- to top -->
<button class="scroll-to-top"><i class="fa fa-chevron-up"></i></button>
<!-- end to top -->

 <!-- start upperbar -->
 <div class="upperbar d-none d-sm-block border-bottom">
  <div class="container-fluid">
      <div class="row">
          <div class="col">
              <a style="display: flex; width: 100%;"><i class="fas fa-map-marker-alt m-2"></i> <span>9870 St Vincent Place</span></a>
          </div>
          <div class="col">
              <a style="display: flex; width: 100%;" href="tel:+201012370014"><i class="fas fa-phone-alt m-2"></i> <span>+200111111110</span></a>
          </div>
          <div class="col">
              <a style="display: flex; width: 100%;" href=""><i class="far fa-envelope m-2"></i><span>taamenk.com</span></a>
          </div>
          <div class="col" style="white-space: nowrap;">
              <a style="display: flex; width: 100%;"><i class="far fa-clock m-2"></i><span>الاحد - الخميس: 9.00م - 11.0ص</span></a>
          </div>
          <div class="col social-icon">
              <a href=""><i class="fab fa-facebook"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-whatsapp"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-telegram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
      </div>
  </div>
</div>
<!-- end upper bar -->
  

      <!-- start header -->
      <nav class="navbar navbar-expand-sm shadow-sm bg-white rounded sticky-top">
        <div class="container">
            <i class="fas fa-bars  fa-2x mt-3 mr-3" data-bs-toggle="offcanvas" data-bs-target="#demo"></i>
            <a href="/"> <img class="logo-navbar" src="./images/corp_group.png" width="60" height="60" alt="image logo" loading="lazy"> </a>
            <div class="offcanvas offcanvas-end" id="demo">
                <div class="offcanvas-header">
                    <h1 class="offcanvas-title"><a href="/"> <img src="./images/corp_group.png" width="80" height="80" alt="image menu" loading="lazy"></a></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                </div>
                <div class="offcanvas-body col justify-content-md-between">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/">الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/whoUs">من نحن</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="./blog.html">Blog</a>
                        </li> -->
                        <div class="dropdown">
                          <a href="./anwa3-t2men.html"><p class="dropbtn" style="color:var(--primary);">انواع التأمين</p></a>
                          <div class="dropdown-content">
                            <a href="/carInsurance">تأمين السيارات</a>
                            <a href="/medicalInsurance">تأمين طبي</a>
                            <a href="/travelInsurance">تأمين السفر</a>
                            <a href="/propertyInsurance">تأمين الممتلكات</a>
                            <a href="/lifeInsurance">تأمين الحياة</a>
                          </div>
                        </div>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="./questions.html">الاسئله الشائعة </a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/contactus">اتصل بنا</a>
                        </li>
                    </ul>
                    <!-- <button class="btn mt-3 mt-md-0">Appointment</button> -->
                </div>
            </div>
        </div>
    </nav>
    <!--end header  -->
    
    <!-- start t2men-teby -->
    <div class="t2men-teby">
        <div class="container text-center">
            <h2 class="first">أسهل طريقة لشراء التأمين الطبي</h2>
            <p class="second"> قارن تفاصيل وأسعار برامج التأمين الطبي المختلفة, إختار اللي يناسبك وسيب الباقي علينا <br> إختار نوع التأمين بالاسفل</p>

            <hr id="hom-line"> 
            <div class="row mt-3 mb-4">
                <div class="col-md-6 col-sm-12">
                    <img src="./images/Car-insurance-270x270.png" width="170" height="170" alt="image taamen perosn" loading="lazy">
                   <p><button>تأمين للأفراد</button></p> 
                    <p><a href="/offersperson">اضغط هنا لعروض الافراد و الأسر</a></p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="./images/Car-insurance-270x270.png" width="170" height="170" alt="image taamen company" loading="lazy">
                   <p><button>تأمين للشركات</button></p> 
                    <p><a href="./offercompany">اضغط هنا لعروض الشركات </a></p>
                </div>
            </div>  
            <hr id="hom-line"> 

             <!-- modal for button t2men-teby -->
          <div class="box">
            <a class="button" href="#popup1">تحدث مع خبير تأمين</a> 
        </div>
        <div id="popup1" class="overlay">
            <div class="popup">
                <h4>سجل بياناتك وهنتواصل معاك في أسرع وقت</h4>
                <a class="close" href="#close-it">&times;</a>
                <div class="content">
                    <form action="#">
                        <label for="fname" class="mt-3">الاسم</label><br>
                        <input type="text" id="fname" name="fname" required><br>
                        <label for="lname">رقم الهاتف</label><br>
                        <input  type="text" id="lname" name="lname" required>
                        <button class="mx-auto d-block">ارسال</button>
                      </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- end t2men-teby -->

    <!-- start part two -->

    <div class="part-two">
      <div class="container">
        <h2 class="text-center mb-4">إعرف اكتر عن التأمين الطبي</h2>

        <h3 class="mb-3">إيه هو التأمين الطبي:</h3>
        <p>التأمين الطبي هو تأمين ضد المخاطر الصحية اللي ممكن يتعرض لها الفرد و ييدعمه في مواجتها من خلال تغطية فحص و تشخيص و علاج الأمراض التي تطرأ علي الفرد المؤمن عليه و يعد نظام فعال بيساعد علي تخفيف أعباء تكاليف الرعاية الصحية للفرد الواحد عن طريق توزيع المخاطر و مشاركتها مع عدد كبير من الناس بحيث إن الأشخاص المشتركين في التأمين يتشاركون في تغطية تكاليف علاج أي شخص منهم يتعرض للمرض.</p>

        <p>و يقوم مبدأ التأمين علي حصول الفرد علي التغطية التأمينية في مقابل إشتراك سنوي يدفع لشركة التأمين و التي بدورها تقوم بتحصيل إشتراكات من قطاعات كبيرة من الأفراد و تقدم التغطية لمعالجة الحالات المرضية التي يتعرض لها أي من المؤمن عليهم و اللي لو تحمل الفرد تكلفتها بنفسه و بدون تأمين ممكن يؤدي إلى إضطراره للصرف من مدخراته اللي وارد أنها تخلص أو تنقص بشكل كبير في حال التعرض لأمراض علاجها مكلف لقدر الله.</p>

        <span>المميزات:</span>
        <p>أكبر مميزات التأمين هي راحة البال أللي بيكتسبها المؤمن عليه عند حصوله علي التغطية من شركة ذات سمعة جيدة و أن الواحد بيكون مطمن علي نفسه و علي أسرته في حال الحاجة للخدمات العلاجية المختلفة لانه لو حصل لقدر الله حاجة بيقدر الشخص انه يحصل علي رعاية طبية مناسبة و يوفر لنفسه تكاليف العلاج بدون قلق كبير علي عدم قدرته علي تحمل مصاريف العلاج اللي ممكن تكون أغلي من إمكانياته أو تؤدي لإستهلاك جزء كبير من مدخراته.</p>

        <span>التغطية:</span>
        <p>تغطيات التأمين الصحي بتختلف حسب برنامج التأمين و شركات التأمين عادةً بتقدم مستويات متنوعة من التغطية و المزايا اللي تناسب الإحتياجات و الميزانيات المختلفة و بيكون في سقف للإستهلاك السنوي محدد لكل بوليصة و ممكن يتراوح ما بين 10,000 جنيه في السنة للفرد لحد مليون جنيه أو أكتر و طبعا كل ما الحد الأقصي للتغطية في البوليصة بيزيد فسعر التأمين بيكون أغلي و المعتاد أن التغطيات بتشمل:</p>

        <li>الكشوفات و الأشعة و التحاليل و الأدوية</li>
        <li>العلاج و الإقامة داخل المستشفيات</li>
        <li>العمليات الجراحية المختلفة</li>
        <li>تغطية الحمل و الولادة لكن بشروط مدة إنتظار محددة</li>
        <li>كذلك يمكن إضافة تغطية الأسنان و البصريات بتكلفة إضافية</li>

        <p class="mt-4">و لكن تغطية التأمين عامة لا تشمل العمليات التجميلية أو التخسيس و لفهم شروط التغطية يجب توضيح النقاط التالية :</p>

        <li><span>نسبة التحمل:</span></li>
        <p>هي النسبة اللي بيتحملها العميل من تكلفة الخدمة الطبية , علي سبيل المثال لو قمت بشراء دواء و نسبة التحمل 20% ده معناه انك بتدفع 20% من قيمة الدواء وشركة التأمين بتدفع الباقي اللي هو 80%. و في أغلب الأحيان بتتحمل الشركة 100% من نسبة العلاج الداخلي وجراحات اليوم الواحد بالمستشفيات المتعاقد معها ضمن الشبكة و لكن في الخدمات الأخري بتتراوح النسبة حسب نوع الخدمة و مستوي التغطية في الوثيقة.</p>

        <li><span>الأمراض السابقة عن التعاقد:</span></li>
        <p>وهي الأمراض التي يشكو منها المؤمن عليه من قبل الإشتراك في التأمين و بيتم إستثنائها من التغطية التأمينة بالكامل أو في بعض الحالات (في تأمين موظفين الشركات فقط) بيتم تغطيتها بحد أقصي محدد من الحد الأقصي اللإجمالي للبوليصة</p>

        <h4>أنواع التأمين الطبي:</h4>
        <li>التأمين المحلي , التأمين الدولي</li>

        <table class="table table-bordered mt-3 col-md-1 col-sm-12">
          <thead>
            <tr>
              <th scope="col">المحلي</th>
              <th scope="col">	الدولي</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>· يوفر التغطية من خلال شبكة من مقدمي  الخدمات الطبية داخل حدود دولة الإشتراك</td>
              <td> يوفر التغطية من خلال شبكة من مقدمي  الخدمات الطبية تمتد حول العالم و تتيح  للمشترك الحصول علي كافة الخدمات  في أي دولة من إختياره</td>
            </tr>
            <tr>
              <td>· تحسب قيمة الإشتراك بالعملة المحلية</td>
              <td>· تحسب قيمة الإشتراك بعملة أجنبية</td>
            </tr>
          </tbody>
        </table>

        <p>وفي بعض شركات التأمين الطبي الدولي لا يوجد حد أقصي لسن الإشتراك</p>

        <li>التأمين الطبي للأفراد و الأسر , التأمين الطبي للشركات</li>
        <table class="table table-bordered mt-3 col-md-1 col-sm-12">
          <thead>
            <tr>
              <th scope="col">المحلي</th>
              <th scope="col">	الدولي</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>· يغطي الأفراد و الأسر</td>
              <td> · يغطي الموظفين في الشركة و تتكفل الشركة بكل أو جزء من تكلفة التأمين </td>
            </tr>
            <tr>
              <td>· سقف التغطية السنوي اعلى يصل الى مليون جنيه للفرد  </td>
              <td>· سقف التغطية السنوي اقل من تأمين الافراد  </td>
            </tr>
            <tr>
              <td>· لا يغطي الأمراض السابقة عن التعاقد     </td>
              <td>· يغطي التأمين للشركات الأمراض السابقة عن التعاقد بحد سنوي معين لكل موظف   </td>
            </tr>
          </tbody>
        </table>

        <h5 class="mt-4"><strong>الفرق بين شركات التأمين و شركات الرعاية الصحية:</strong></h5>

        <p>من المصطلحات اللي لازم نعرفها كويس, ايه الفرق بين برنامج التأمين الطبي وبرنامج الرعاية الصحية, وده يخلينا نسأل على الشركة المقدمة للبرنامج حيث ان شركات التأمين فقط هي المسموح لها تقديم برامج التأمين الصحي</p>

        <li><span>شركات التأمين:</span></li>
        <p>هي شركات مسجلة في هيئة الرقابة المالية (الجهة المختصة بالرقابة على التأمين) ويشترط هذا التسجيل رأس مال بمبالغ كبيرة وبيتم مراجعة تفاصيل البرامج المختلفة والاشتراكات من قبل هيئة الرقابة المالية باستمرار, والهيئة بتضمن للمشتركين في التأمين ان حقوقهم توصلهم كامله ويمكن تقديم الشكوى لها في حالة عدم وفاء شركة التأمين بوعودها للمؤمن عليه.</p>

        <li><span>شركات الرعاية الصحية:</span></li>
        <p>هي شركات دورها الاساسي التعاقد مع المستشفيات والمراكز والصيدليات لتكوين شبكة طبية وتقديمها لعملاء شركات التأمين مع إدارة الملف الطبي للعملاء طبقا لبنود الوثائق, في بعض الاحيان تقدم تلك الشركات خدمة الرعاية الطبية للعملاء بشكل مباشر بدون شركة تأمين, ويعتبر ذلك إدارة للملف الطبي فقط وليس تأمين.</p>

        <h6 class="mt-4">حساب قيمة الإشتراك السنوي للتأمين الصحي:</h6>

        <p>بيتم إحتساب سعر الإشتراك السنوي بناءً علي 3 عوامل رئيسية:</p>

        <li>سن الشخص المؤمن عليه بحيث أن الشخص كل ما سنه كان أكبر بيدخل في شريحة سعرية أعلي بسبب إرتباط مستوي الصحة العامة للأفراد في المجتمع بالتقدم في العمر و كون الأكبر سنأ أكثر عرضة لإستخدام التأمين الصحي</li>

        <li>مستوي التغطية و الحد الأقصي للتغطية السنوية بحيث أن كل ما مستوي التغطية و الحد الأقصي السنوي كان أعلي كل ما كان سعر الإشتراك السنوي أكبر</li>

        <li>المزايا الإضافية اللي بتكون إختيارية زي تغطية علاج الأسنان و البصريات علي سبيل المثال بتؤثربالزيادة على سعر البوليصة في حال إضافتها</li>

        <p>و من خلال موقع تأمينك تقدر بشكل فوري تعرف أسعار التأمين الطبي و تحسب التكلفة الفعلية للإشتراك السنوي في برامج متنوعة من أفضل شركات التأمين الموجودة في مصر للفرد و للأسرة و كمان للشركات وبتقدر تشوف كل التفاصيل و تقارن ما بينها عشان تختار الأنسب ليك بكل سهولة و ثقة.</p>

        <span class="mt-4">كيفية الإشتراك و شروطه:</span>
        <p>يمكن الإشتراك في التأمين الطبي الفردي كحامل وثيقة بداية من 16 سنة حتي 64 سنة وبعض الشركات تقدم تغطية حتى سن ال75 بشرط الاشتراك قبل ال65 مع مراجعة قيمة البوليصة واستثناءاتها بشكل سنوي في الفترة من 65 حتى 75 عاما. و بالنسبة للأسر فيمكن التأمين للأطفال و لكن بشكل تابع لوالدهم أو والدتهم من سن الولادة و حتي 21 سنة لكن مينفعش التأمين لطفل بمفرده وهو اقل من 16 سنه بدون إشتراك واحد من والديه علي الأقل.</p>

        <p>ولا يحتاج الحصول علي التأمين لإجراء كشف طبي قبل الإشتراك و لكن يتم الإكتفاء بقيام المشترك بالإجابة عن مجموعة من الأسئلة في إستبيان بخصوص الحالة الطبية و تاريخه الصحي و إيضاح أي أمراض مزمنة يعاني منها و طبعا يتوجب علي المشترك الإجابة بشفافية و صدق لتجنب اكتشاف اي معلومات مغلوطة خلال فترة التغطية.</p>

        <p>و عند الإستقرار علي عرض التأمين المناسب لك من موقع تأمينك بيتم التواصل من خلال أحد ممثلينا لتأكيد و مراجعة تفاصيل البرنامج و البدأ في الإجرائات لإستخراج التأمين</p>

        <ol type="1">
          <li>ملئ طلب الحصول علي التأمين و الإستبيان الخاص بالحالة الصحية</li>
          <li>دفع قيمة الإشتراك السنوي</li>
          <li>إستخراج و إرسال كروت الإشتراك و كتيب الإستخدام والشبكة إليك.</li>
        </ol>

        <p>و تتضمن مميزات الإشتراك من خلال <span style="color: var(--primary);">تأمينك</span> في الحصول علي خدمة عملاء إضافية للمساعدة في إستخدام التأمين طول فترة الإشتراك.</p>



        



      </div>
    </div>
    <!-- end part two -->



   <!-- start footer -->
  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2 class="footer-heading border-bottom w-25 mb-3">اتصل بنا</h2>  
                 <p >تليفون:  <a href="tel:01222207744" > 648 235 257 010 2+</a></p>
                 <p> الإيميل: <a href="#"> info@taamenk.com</a></p>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 ml-auto">
                        <h2 class="footer-heading border-bottom w-25  mb-2">الشركة</h2>
                        <ul class="list-unstyled">
                          <li><a href="/whoUs">من نحن</a></li>
                          <li><a href="/termsAndCondition">الشروط و الاحكام</a></li>
                            <li><a href="/privacyPolicy">سياسة الخصوصية</a></li>
                            <li><a href="/insurancecompany">شركات التأمين</a></li>
                            <li><a href="/jobVacancies">وظائف - لدينا فرص عمل !</a></li>
                          </ul>
                    </div>
                    <div class="icons col-lg-6">
                        <h2 class="footer-heading border-bottom w-50 mb-2 ">تابع تأمينك</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-top ">
              <p class="mt-3">في حالة عدم رضائك عن خدمة تأمينك يحق لك تصعيد الشكوى الى مقر الهيئة العامة للرقابة المالية أو عبر موقعها الإلكتروني www.fra.gov.eg
                موقع تأمينك حاصل على موافقة الهيئة العامة للرقابة المالية بتاريخ 5/11/2019</p>
                <p class="text-center mt-2">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved taamenk  
                </p>
               <p class="text-center"><span> powered by <a href="#" target="_blank">ahmed serag</a> </span></p>
            </div>
        </div>
    </div>
</footer>
  <!-- End footer -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
<script src="./js/main.js"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-61557304f9644901"></script>
</body>
</html>
